**Decision Tree Classification is a supervised machine learning algorithm used for classification tasks. It splits the dataset into smaller subsets based on the feature values and uses these subsets to make decisions or predictions. The model represents these decisions in the form of a tree-like structure, where each internal node represents a decision based on a feature, each branch represents the outcome of that decision, and each leaf node represents a class label (the prediction outcome).**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('D:/data science/DATASETS/exam.csv')

In [7]:
data

   5me  guide result
0    0      0   fail
1    1      1   pass
2    1      0   pass
3    0      0   fail
4    0      0   fail
5    1      1   pass
6    0      1   fail
7    1      1   pass
8    1      0   fail
9    1      1   pass

In [9]:
data.result.value_counts()

result
fail    5
pass    5
Name: count, dtype: int64

In [11]:
entropy_results = -(5/10)*np.log2(5/10) -(5/10)*np.log2(5/10)
entropy_results

1.0

In [13]:
data.rename(columns = {'5me':'yt'}, inplace = True)

In [15]:
data

   yt  guide result
0   0      0   fail
1   1      1   pass
2   1      0   pass
3   0      0   fail
4   0      0   fail
5   1      1   pass
6   0      1   fail
7   1      1   pass
8   1      0   fail
9   1      1   pass

In [17]:
data[data.yt == 1]

   yt  guide result
1   1      1   pass
2   1      0   pass
5   1      1   pass
7   1      1   pass
8   1      0   fail
9   1      1   pass

In [19]:
entropy_results_yt_yes = -(5/6)*np.log2(5/6) -(1/6)*np.log2(1/6)
entropy_results_yt_yes

0.6500224216483541

In [21]:
data[data.yt == 0]

   yt  guide result
0   0      0   fail
3   0      0   fail
4   0      0   fail
6   0      1   fail

In [23]:
yt_entropy = (6/10) * entropy_results_yt_yes +  (4/10) * 0
yt_entropy

0.39001345298901247

In [25]:
info_yt = entropy_results - (6/10) * entropy_results_yt_yes -  (4/10) * 0
info_yt

0.6099865470109875

In [27]:
data[data.guide == 1]

   yt  guide result
1   1      1   pass
5   1      1   pass
6   0      1   fail
7   1      1   pass
9   1      1   pass

In [29]:
entropy_results_guide_yes = -(4/5)*np.log2(4/5) -(1/5)*np.log2(1/5)
entropy_results_guide_yes

0.7219280948873623

In [31]:
data[data.guide == 0]

   yt  guide result
0   0      0   fail
2   1      0   pass
3   0      0   fail
4   0      0   fail
8   1      0   fail

In [33]:
entropy_results_guide_no = -(1/5)*np.log2(1/5) -(4/5)*np.log2(4/5)
entropy_results_guide_no

0.7219280948873623

In [35]:
guide_entropy = (5/10) * entropy_results_guide_yes +  (5/10) * entropy_results_guide_no
guide_entropy

0.7219280948873623

In [37]:
info_guide = entropy_results - guide_entropy
info_guide

0.2780719051126377

In [39]:
print(info_yt)

0.6099865470109875

In [43]:
print(info_guide)

0.2780719051126377

In [45]:
from sklearn.preprocessing import LabelEncoder

In [47]:
le = LabelEncoder()
df = data
df.result = le.fit_transform(df.result)
df

   yt  guide  result
0   0      0       0
1   1      1       1
2   1      0       1
3   0      0       0
4   0      0       0
5   1      1       1
6   0      1       0
7   1      1       1
8   1      0       0
9   1      1       1

In [49]:
x = df[['yt','guide']]
y = df['result']

In [51]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz